/* Place your CSS after this comment */

.type.logique a {
  background-color: #2D71B5;
}

.type.info a {
  background-color: #B52D80;
}

.type.perso a {
  background-color: #E68B0A;
}

.type.libre a {
  background-color: #00C100;
}
